<div class="login-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</div>
<!-- <div class="login-container">
  <mat-grid-list cols="1" rowHeight="100vh">
    <mat-grid-tile>
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="flex-row">
              <div class="col-6">
                <form [formGroup]="loginForm">
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      placeholder="Correo electrónico"
                      formControlName="user"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      type="password"
                      matInput
                      placeholder="Contraseña"
                      formControlName="password"
                    />
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit">
                    Ingresar
                  </button>
                </form>
              </div>
              <div class="col-6">
                <h1>asdf</h1>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
