.active {
  background: #fff3e0 !important;
  border-left: 4px solid #c43c00;
}

.mat-list-item {
  cursor: pointer;
  /* border-left: 4px solid transparent; */
  transition: 0.2s all;
  /* box-sizing: border-box; */
}

.mdc-list {
  padding-top: 0 !important;
}

/* .mat-list-icon {
    padding: 4px;
} */
