/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/_grid.scss";
@font-face {
  font-family: "NovaMono";
  src: url("./assets/font/NovaMono-Regular.ttf");
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

p {
  font-size: 1.5em;
}

button.input-size {
  font-size: 1.5em !important;
  height: 56px !important;
  // color: red;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 16px;
}

.mat-toolbar-head-fixed {
  position: fixed;
  z-index: 1;
}

.mat-toolbar-fixed {
  position: fixed;
  z-index: 1;
}

.toolbar {
  background-color: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(15px);
  color: rgb(32, 32, 32);
}

.main-content {
  margin-top: var(--mat-toolbar-standard-height) !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - var(--mat-toolbar-standard-height));
}
.sidenav-toolbar {
  width: 280px !important;
}

@media (max-width: 599px) {
  .main-content {
    margin-top: var(--mat-toolbar-mobile-height) !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
